<h1 mat-dialog-title>{{accion}} Refacción</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="item.name" formControlName="nameAC" placeholder="Nombre" type="text" maxlength='45' class="" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="item.description" formControlName="descriptionAC" placeholder="Descripción" type="text" maxlength='345' class="" >
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Proveedor</mat-label>
      <mat-select formControlName="provider_idproviderAC" [(ngModel)]="item.provider_idprovider">
        <mat-option *ngFor="let item of _provider" [value]="item.idprovider">
          {{item.name}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='providerRewriteable' (click)="providerAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Familia</mat-label>
      <mat-select formControlName="family_idfamilyAC" [(ngModel)]="item.family_idfamily">
        <mat-option *ngFor="let item of _family" [value]="item.idfamily">
          {{item.name}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='familyRewriteable' (click)="familyAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
