<h1 mat-dialog-title>{{accion}} Solicitud a proveedor</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Proveedor</mat-label>
      <mat-select formControlName="provider_idproviderAC" [(ngModel)]="item.provider_idprovider">
        <mat-option *ngFor="let item of _provider" [value]="item.idprovider">
          {{item.name}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='providerRewriteable' (click)="providerAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Reparación</mat-label>
      <mat-select formControlName="project_service_idproject_serviceAC" [(ngModel)]="item.project_service_idproject_service">
        <mat-option *ngFor="let item of _project_service" [value]="item.idproject_service">
          {{item.idproject_service}} - {{item.project_project_idproject}} - {{item.service_service_idservice}} 
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='project_serviceRewriteable' (click)="project_serviceAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Almacen</mat-label>
      <mat-select formControlName="warehouse_idwarehouseAC" [(ngModel)]="item.warehouse_idwarehouse">
        <mat-option *ngFor="let item of _warehouse" [value]="item.idwarehouse">
          {{item.name}}
        </mat-option>
      </mat-select>
      
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="statusAC" [(ngModel)]="item.status" required>
        <mat-option value="ABIERTA">
          ABIERTA
        </mat-option>
        <mat-option value="CERRADA">
          CERRADA
        </mat-option>
        <mat-option value="CANCELADA">
          CANCELADA
        </mat-option>
        <mat-option value="NUEVA">
          NUEVA
        </mat-option>
        <mat-option value="EN REVISIÓN">
          EN REVISIÓN
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
