<h1 mat-dialog-title>{{accion}} Solicitud almacen producto</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Solicitud</mat-label>
      <mat-select formControlName="solicitudewarehouse_idsolicitudewarehouseAC" [(ngModel)]="item.solicitudewarehouse_idsolicitudewarehouse">
        <mat-option *ngFor="let item of _solicitudewarehouse" [value]="item.idsolicitudewarehouse">
          {{item.idsolicitudewarehouse}}
        </mat-option>
      </mat-select>
      <!-- <button mat-flat-button *ngIf='solicitudewarehouseRewriteable' (click)="solicitudewarehouseAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button> -->
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Producto</mat-label>
      <mat-select formControlName="product_idproductAC" [(ngModel)]="item.product_idproduct">
        <mat-option *ngFor="let item of _product" [value]="item.idproduct">
          {{item.name}}
        </mat-option>
      </mat-select>
      <!-- <button mat-flat-button *ngIf='productRewriteable' (click)="productAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button> -->
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="item.quantity" formControlName="quantityAC" placeholder="Cantidad" type="number" maxlength='11' class="" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
