<h1 mat-dialog-title>{{accion}} Almacen</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Compañia</mat-label>
      <mat-select formControlName="company_idcompanyAC" [(ngModel)]="item.company_idcompany">
        <mat-option *ngFor="let item of _company" [value]="item.idcompany">
          {{item.idcompany}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='companyRewriteable' (click)="companyAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="item.name" formControlName="nameAC" placeholder="Nombre" type="text" maxlength='45' class="" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Status</mat-label>
        <input matInput [(ngModel)]="item.status" formControlName="statusAC" placeholder="Status" type="text" maxlength='45' class="" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
