<h1 mat-dialog-title>{{accion}} Empleado</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre completo</mat-label>
        <input matInput [(ngModel)]="item.name" formControlName="nameAC" placeholder="Nombre completo" type="text" maxlength='145' class="" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="item.email" formControlName="emailAC" placeholder="Email" type="email" maxlength='85' class="" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="si_user_idsi_userAC" [(ngModel)]="item.si_user_idsi_user">
        <mat-option *ngFor="let item of _si_user" [value]="item.idsi_user">
          {{item.email}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='si_userRewriteable' (click)="si_userAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Unidad de negocio</mat-label>
      <mat-select formControlName="companyunits_idcompanyunitsAC" [(ngModel)]="item.companyunits_idcompanyunits">
        <mat-option *ngFor="let item of _companyunits" [value]="item.idcompanyunits">
          {{item.name}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='companyunitsRewriteable' (click)="companyunitsAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Código interno opcional</mat-label>
        <input matInput [(ngModel)]="item.code" formControlName="codeAC" placeholder="Código interno opcional" type="text" maxlength='45' class="" >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
