<h1 mat-dialog-title>{{accion}} Orden de salida</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Almacen</mat-label>
      <mat-select formControlName="warehouse_idwarehouseAC" [(ngModel)]="item.warehouse_idwarehouse">
        <mat-option *ngFor="let item of _warehouse" [value]="item.idwarehouse">
          {{item.name}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='warehouseRewriteable' (click)="warehouseAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Producto</mat-label>
      <mat-select formControlName="product_idproductAC" [(ngModel)]="item.product_idproduct">
        <mat-option *ngFor="let item of _product" [value]="item.idproduct">
          {{item.name}}
        </mat-option>
      </mat-select>
      <button mat-flat-button *ngIf='productRewriteable' (click)="productAddModalShow()" color="primary" class="full-width mt-3"><i class="fa fa-plus"></i></button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cantidad</mat-label>
        <input matInput [(ngModel)]="item.quantity" formControlName="quantityAC" placeholder="Cantidad" type="number" maxlength='11' class="" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Motivo</mat-label>
      <mat-select formControlName="motiveAC" [(ngModel)]="item.motive">
        <mat-option value="AJUSTE DE INVENTARIO">
          AJUSTE DE INVENTARIO
        </mat-option>
        <mat-option value="ROBO">
          ROBO
        </mat-option>
        <mat-option value="DAÑO">
          DAÑO
        </mat-option>
        <mat-option value="CADUCIDAD">
          CADUCIDAD
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
