<div class="row">
    <div class="col-md-4" *ngFor="let item of infocards">
        <div class="card text-bg-light" style="max-width: 540px;">
            <div class="row">
              <div class="col-md">
                <div class="card-body">
                  <h1 class="card-title" style="max-width: 18rem;">{{item.title}}</h1>
                  <p class="card-text"> {{item.messeage}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


<!--<p>Componente de informacion en cartas</p>-->
