.card {
  background-color: white;
  width: 500px;
  height: 150px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-right: 10px;
}

.container {
  margin: 1rem;
  width: 500px;
  display: row;
}

.card-body {
  display: flex;

}


.card .img-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-size: cover;
}

.card .content {
  width: 60%;
  height: 100%;
  padding: 10px 15px;
  justify-content: justify;
}

.card .content .title h3 {
  color: #026e5e;
  text-align: justify;
  margin-top: 1.5rem;
}

.card .content .title span {
  color: #0089ba;
  font-size: 12px;
}

.card .content .text p {
  color: rgba(0, 0, 0, 0.9);
  font-size: 15px;
}

.card .content .text p span {
  color: black;
}
