<h1 mat-dialog-title>{{accion}} Trabajando</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estatus</mat-label>
      <mat-select formControlName="statusAC" [(ngModel)]="item.status" required [disabled]="item.isEmployee">
        <mat-option value="SIN INICIAR">
          SIN INICIAR
        </mat-option>
        <mat-option value="INICIADA">
          INICIADA
        </mat-option>
        <mat-option value="COMPLETADA">
          COMPLETADA
        </mat-option>
        <mat-option value="TIEMPO AGOTADO">
          TIEMPO AGOTADO
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width" >
      <mat-label>Empleado</mat-label>
      <mat-select formControlName="employee_idemployeeAC" [(ngModel)]="item.employee_idemployee" [disabled]="item.isEmployee">
        <mat-option *ngFor="let item of _employee" [value]="item.idemployee">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Orden de reparación</mat-label>
      <mat-select formControlName="project_service_idproject_serviceAC" [(ngModel)]="item.project_service_idproject_service" [disabled]="item.isEmployee">
        <mat-option *ngFor="let item of _project_service" [value]="item.idproject_service">
          {{item.idproject_service}} - {{item.project_project_idproject}} {{item.service_service_idservice}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Observaciones</mat-label>
        <textarea matInput [(ngModel)]="item.observations" formControlName="observationsAC" placeholder="Observaciones" maxlength='145' rows="10">
        </textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Puntuación Final</mat-label>
      <mat-select formControlName="ponderationFinalAC" [(ngModel)]="item.ponderationFinal">
        <mat-option value="25">
          MALA
        </mat-option>
        <mat-option value="50">
          REGULAR
        </mat-option>
        <mat-option value="75">
          BUENA
        </mat-option>
        <mat-option value="100">
          EXCELENTE
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="success" cdkFocusInitial [disabled]="!form.valid" (click)="onSubmit()">Aceptar</button>
</div>
